/node_modules
/public/hot
/public/css
/public/img
/public/js
/public/*.js
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/public/js/
/public/mix-manifest.json
/public/css
/public/img
/public/docs
